<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>1KYC</title>
	<link href="static/styles/css/login.css" rel="stylesheet">
	<script src="static/styles/js/login.js"></script>
</head>


<body background="static/styles/img/bg5.jpg">
	<center><img src="static/styles/img/logo.png" alt="what image shows" height="250" width="330"></center>
	<div class="login-page">
  		<div class="form">
  			<p>
	      		<form class="login-form" action='/customer-login'>
	        		<button>Personal User Login</button>
	        	</form>
        	</p>
        	<p>
        		<form class="login-form" action='/bank-dashboard'>
        			<button>Bank Login</button>
        		</form>
        	</p>
        </div>
	</div>
</body>
</html>